body{
    background-color: black;
    color: #001;
}

.main-divider{
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
}
.logo{
    width: 50%;
    display: flex;
    flex-direction:row;
    justify-content: left;
    margin-left: 20px;
}
.index{
    width: 50%;
    display: flex;
    flex-direction:row;
    justify-content: right;
    margin-right: 60px;
}
.index a{
    color: white;
    margin-top: 20px;
    padding-left: 60px;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}
.containt{
    width: 45%;
    color: white;
    text-align: left;

}
.containt h1{
    margin-left: 45px;
}
.containt h3{
    color: orange;

}
.containt h3,p{
    margin-left: 30px;
}

.containt button{
    margin-left: 50px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: orange;
    border-radius: 10px 0;
}

.image{
    color:orange;
    margin-top:200px;
    width: 45%;
    height: 100%;
}
.kakashi{
    text-align: center;
    margin-top:40px;
}
.social{
    width: 10%;
    display:flex;
    flex-direction: column;
}
.social div{
    margin-bottom: 40px;
}

/* Styles for mobile screens */
@media only screen and (max-width: 500px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        height: 200px;
        display: flex;
        flex-direction: row;
        align-content: last baseline;
    }

    .index {
        display: flex;
        flex-direction: row;
        margin: 0 0 0 330px;
    }

    .main {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 690px 0 0 0;
    } h1,p {
        color: white;
    } button {
        background-color: #001;
        border-color: orange;
        border-radius: 9px 0;
    }

    .image {
        margin: 20px 0 0px 100px;
        width: 100%;
    }

    .social {
        margin: -40px 0 0 0;
        flex-direction: row;
    }

    .social div {
        margin: 10px 0;
    }

} 
